{% include "base.html" %}
{% load static %}

{% block content %}

<style media="screen">
  body{
    background-color: gray;
  }
</style>

<body>
  <br>
  <div class="container bg-white shadow-md p-5 form-layout">
    <h3><i class="fa-light fa-hand-wave"></i>&nbsp;Welcome, {{user}}</h3>
    <hr>
    <p>This is your dashboard where you can perform any of the following: </p>
    
    <li>Manage your account</li>
    <li>See interested people list</li>
  </div>
  <br>
  <div class="container bg-white shadow-md p-5 form-layout">
    <h4>Interested list</h4>
    <hr>
    <p>See who is interested in your books...</p>
    <a class="btn btn-primary navbar-btn text-white" type="button" href="{% if user_book %}{% url 'interested_users_list' slug=user_book.slug %}{% endif %}">Show List</a>
  </div>
 
  <br>
    <div class="container bg-white shadow-md p-5 form-layout">
      <h4>Manage your account</h4>
      <hr>
      <p>Update or delete your account</p>
      <a class="btn btn-primary navbar-btn text-white" type="button" href="{% url 'profile-management' %}">Profile management</a>
      <br><br>
      <a class="btn btn-danger navbar-btn text-white" type="button" href="{% url 'logout' %}">Logout</a>
    </div>
      <br>
</body>

{% endblock %}
