{% include "base.html" %}

{% load static %}

{% block content %}


<div class="col">
    <div class="card shadow-sm">
      
      <img src="{{ book.image.url }}" alt="{{ book.title }}">
      <div class="card-body">
        <h1>{{ book.title }}</h1>
        <a class="text-info text-decoration-none" href="{{book.get_absolute_url}}">{{book.title}}</a>
        <p><strong>Author:</strong> {{ book.author }}</p>
        <p><strong>Genre:</strong> {{ book.genre }}</p>
        <p><strong>Condition:</strong> {{ book.condition }}</p>
        <p><strong>Pages:</strong> {{ book.pages }}</p>
        <p><strong>Description:</strong> {{ book.description }}</p>
        <p><strong>Pickup Location:</strong> {{ book.pickup_location }}</p>
        <div class="d-flex justify-content-between align-items-center">
            
        </div>
      </div>
    </div>



<br><br>





{% endblock %}