{% extends "base.html" %}

{% block content %}


<style media="screen">
    body{
      background-color: gray;
    }
  </style>
<br><br>
<div class="container bg-white shadow-md p-5 form-layout">
  <h1>Choose Recipient for "{{ book.title }}"</h1>
  <ul>
    {% for user in interested_users %}
      <li>
        {{ user.user.username }}
        <form method="post" action="{% url 'choose_recipient' slug=book.slug %}">
          {% csrf_token %}
          <input type="hidden" name="selected_user" value="{{ user.user.id }}">
          <button class="btn btn-primary navbar-btn text-white" type="submit">Choose</button>
        </form>
      </li>
    {% empty %}
      <li>No interested users.</li>
    {% endfor %}
  </ul>
  <a class="btn btn-primary navbar-btn text-white" type="button" href="{% url 'book_detail' slug=book.slug %}">Back to Book Details</a>
</div>
{% endblock %}
